<!-- assignment 2 -->

<!-- <button class= "btn btn-primary" [disabled]= "isDisabled" (click) = "isDisabled = true;">CLICK</button>
<app-warning-alert></app-warning-alert>
<div app-success-alert></div> -->

<!-- assignment 3 -->
<!-- <button class = "btn btn-primary" (click) = "toggleDetails()">Display Details</button>
<p *ngIf = "showDetails">Toggle me</p>
<p *ngFor = "let button of buttons; let i = index"
    [ngStyle] = "{ backgroundColor: i > 4 ? 'green' : 'initial' }"
    [ngClass] = "{ 'textColor': i > 4 }" >Button Clicked {{ button }}</p> -->