<!-- <ul *ngIf = "isActive">
  <li *ngFor = "let fruit of fruits; let i = index">
    {{ i+1 }}. {{ fruit }}
  </li>
</ul>
<label for="">Prop Binding:</label>
<button type="button" name="button" class="btn btn-primary" (click)="toggleList()" [disabled]="isActive">{{!isActive ? 'Show': 'Hide'}} List</button>

<form class="" action="index.html" method="post">
  <label for="">Event Binding:</label>
  <input type="text" name="" value="" (input)="getFormData($event)" />
  <br>
  <label for="">2 way Binding:</label>
  <input type="text" name="first" value="" [(ngModel)]="formData"/>
</form>
<label for="">Data Binding:</label>
<span>{{ formData }}</span> -->

<input type="text" name="" value="" [(ngModel)] = "username">
<p>{{ username }}</p>
<button type="button" name="button" class= "btn btn-primary" [disabled] = "!username" (click) = "onSubmit()">SUBMIT</button>
